.row.testimoniales 
    //- porque en paginas controller mandamos todo los testimoniales para a la vista -//
    each testimonial in testimoniales
        .col-md-6.col-lg-4.mb-4
            .card
                .card-body
                    blockquote.blockquote
                    p.mb-0
                        | #{testimonial.mensaje}
                    footer.blockquote-footer 
                        | #{testimonial.nombre}